<div class="container">
  <h1>To Do List</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Что нужно сделать?" [(ngModel)]="todoTitle">
    </div>
    <button class="btn"(click)="addTodo()">Добавить</button>
  </div>

  <hr>

  <div class="card">
    <p>
      <span class="completed">Название</span>
      <span>
        <button class="btn btn-danger">Удалить</button>
        <button class="btn">Завершить</button>
      </span>
    </p>
  </div>
</div>
